<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.hotelreservation.mapper.UserMapper">
    <resultMap id="get_all_rooms_info" type="RoomDTO">
        <id column="no" property="roomNo"/>

        <association property="roomVO" javaType="com.example.hotelreservation.domains.vo.RoomVO">
            <result column="title" property="title"/>
            <result column="price" property="price"/>
        </association>

        <collection property="ratingVO" ofType="com.example.hotelreservation.domains.vo.RatingVO" javaType="list">
            <result column="score" property="score"/>
        </collection>

        <collection property="roomImagesVO" ofType="com.example.hotelreservation.domains.vo.RoomImagesVO" javaType="list">
            <result property="roomImage" column="image"/>
        </collection>
    </resultMap>

    <select id="get_all_rooms" parameterType="string" resultType="UserVO">
        SELECT * FROM `room` ROOM
        INNER JOIN `room_images` IMAGES
        ON ROOM.`no` = IMAGES.`room_no`
        LEFT OUTER JOIN `rating` RATE
        ON ROOM.`no` = RATE.`room_no`
        WHERE ROOM.`state` = 1;
    </select>
</mapper>