<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <h1>게시물 업로드</h1>

    <form action="">
        <label>제목<input class="title" type="text"></label>
        <label>1박당 가격 <input class="per_price" type="text"></label>

        <button>돌아가기</button>
        <button>확인</button>
    </form>
</body>
</html>