<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
    <h1>게시물 업로드</h1>

    <form th:action="@{board}" action="/board" method="post" enctype="multipart/form-data">
        <div><label>제목<input name="title" class="title" type="text"></label></div>
        <div><label>1박당 가격 <input name="price" class="per_price" type="text"></label></div>

        <div>
            <span>방 사진</span>
            <div><input type="button" value="추가"></div>
            <div class="image-files"></div>
        </div>

        <div>
            <div>세부내용</div>
            <textarea name="text" id="summernote"></textarea>
        </div>

        <div class="button_container">
            <input type="button" value="돌아가기"/>
            <input type="submit" value="확인"/>
        </div>
    </form>
</body>
</html>